<app-nav></app-nav>

<div class="container mt-4">
  <!-- Parte Superior -->
  <div class="row mb-4">
    <div class="col-md-4 mb-4">
      <div class="card text-center">
        <div class="card-body">
          <a href="#" class="btn btn-light-blue w-100">
          <i class="fa fa-home fa-2x" aria-hidden="true"></i><!-- Icono de Mercancía -->
          <h5 class="card-title">Mercancía</h5>
         
      </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card text-center">
        <div class="card-body">
          <a href="#" class="btn btn-dark-gray w-100">
          <i class="fa fa-truck fa-2x" aria-hidden="true"></i> <!-- Icono de Despacho -->
          <h5 class="card-title">Despacho</h5>
          
      </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card text-center">
        <div class="card-body">
          <a href="#" class="btn btn-light-blue w-100">
          <i class="fa fa-undo fa-2x" aria-hidden="true"></i> <!-- Icono de Devoluciones -->
          <h5 class="card-title">Devoluciones</h5>
      
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Parte Media -->
  <div class="row mb-4">
    <div class="col-md-9 mb-4">
      <div class="card text-center usuario-card">
        <div class="card-body">
          <i class="fa fa-user custom-icon mb-3" aria-hidden="true"></i>
          <h5 class="card-title">Usuario</h5>
          
          <a href="#" class="btn btn-primary mt-4">Gestionar</a> <!-- Botón de gestionar -->
          
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-4">
      <div class="card text-center alertas-card">
        <div class="card-body">
          <i class="fa fa-bell fa-5x mb-3" aria-hidden="true"></i>
          <h5 class="card-title">Alertas</h5>
          
      
        </div>
      </div>
    </div>
  </div>

  <!-- Parte Inferior -->
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card text-center">
        <div class="card-body">
          <div class="card text-center quienessomos-card">
              <i class="fa fa-share-alt fa-2x" aria-hidden="true"></i>   
          <h5 class="card-title">¿Quiénes somos?</h5>
          <p class="card-text">Información sobre nuestra organización.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="bg-secondary text-white text-center py-3">
  <p>&copy; 2024 Mi Página Angular. Todos los derechos reservados.</p>
</footer>
