<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      <h1>Contenido Padre</h1>
      <br />
      <div>
        <h4>El mensaje recibido desde hijo es: {{ mensajecibido }}</h4>
      </div>
      <div>
        <h3>Contador: {{ valor }}</h3>
      </div>
    </div>
    <div class="col">
      <h1>Contenido Hijo</h1>
      <br />
      <app-hijo
        (mensajeDesdeHijo)="recibirMensaje($event)"
        (incrementarDesdeHijo)="incrementar()"
        (disminuirDesdeHijo)="disminuir()"
      />
    </div>
  </div>
</div>
