<h1>cuerpo</h1>
<div class="row g-3">
  <div class="col-auto">
    <label for="staticEmail2" class="visually-hidden">Email</label>
    <input
      type="text"
      readonly
      class="form-control-plaintext"
      id="staticEmail2"
      value="{{ valor }}"
    />
  </div>

  <div class="col-auto">
    <button
      type="submit"
      class="btn btn-outline-success"
      (click)="incrementar()"
    >
      Incrementar
    </button>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-outline-warning" (click)="disminuir()">
      Disminuir
    </button>
  </div>
</div>
<app-padre />
