h2{
    font-style: italic;
    color: #0a0a0a;
}

/* Fondo principal dividido en dos colores verticalmente */
.background {
    display: flex;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    flex-direction: row; /* Divide en columnas */
  }
  
  .background .left-section {
    flex: 1; /* Mitad izquierda */
    background-color: #135169; /* Azul claro */
  }
  
  .background .right-section {
    flex: 1; /* Mitad derecha */
    background-color: #1d1f1f; /* Gris oscuro */
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
  }
  
  /* Estilo del cuadro */
  .login-box {
    background-color: #ffffff; /* Fondo blanco */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra suave */
    border: 4px solid #000000; /* Borde negro grueso */
    width: 100%;
    max-width: 400px; /* Ancho máximo del cuadro */
    text-align: center;
  }
 
  