<div class="background">
  <!-- Sección izquierda -->
  <div class="container-fluid d-flex flex-row vh-100">
      <!-- División izquierda -->
      <div class="left-section d-flex align-items-center justify-content-center w-50">
          <img src="assets/imghttps://file+.vscode-resource.vscode-cdn.net/c%3A/Users/duvan/sox_proyect/src/assets/img/2.png?version%3D1733141882447/2.png" alt="SOX Logo" />
      </div>
    
      <!-- División derecha -->
      <div class="right-section d-flex align-items-center justify-content-center w-50">
        <div class="login-box text-center">
          <h1>Sox</h1>
          <h2>Inicio de Sesión</h2>
          <div class="form-group">
              <label for="username"></label>
              <input type="text" id="username" class="form-control" placeholder="Usuario" />
            </div>
            <div class="form-group">
              <label for="password"></label>
              <input type="password" id="password" class="form-control" placeholder="Contraseña" />
            </div>
            <button class="btn btn-primary mt-3" [routerLink]="['/login']" routerLinkActive="router-link-active" >Ingresar</button>
          <!-- Aquí puedes añadir el formulario -->
        </div>
      </div>
    </div>
      </div>
 

